{% extends 'baseAdmin.html' %}
{% block title %} Actualizar empleado {% endblock %}
{% block content %}
{% load static %}

<style>
        .formulario_empleado{
            width: 1000px;
            background: rgb(255, 255, 255);
            color: rgb(18, 38, 107);
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            top: 40px;
            left: 25%;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
            font-weight: bold;
        }

        .formulario_empleado .titulo h1{
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .formulario_empleado input[type="text"],
        .formulario_empleado input[type="number"],
        .formulario_empleado input[type="date"],
        .formulario_empleado input[type="email"],
        .formulario_empleado input[type="password"]{
            border: none;
            border: 2px solid rgb(23, 128, 13);
            box-shadow: 3px 3px 5px rgb(23, 128, 13);
            background: transparent;
            color:black;
        }

        .formulario_empleado select{
            border: 2px solid rgb(23, 128, 13);
            box-shadow: 3px 3px 5px rgb(23, 128, 13);
            background: transparent;
            color: black;
        }

</style>

        <form action="{% url 'ActualizarEmpleado'%}" method="post" class="formulario_empleado">

            {% csrf_token %}
            <div class="titulo">
                <h1>Actualizar empleado</h1>
            </div>

            <input type="hidden" name="id_profile" value="{{ profile.id_profile }}">
            <input type="hidden" name="id_user" value="{{ profile.user.id }}">
    
            <div class="form-row">
                <div class="form-group col-5 ml-5">
                    <label for="">Nombre de usuario</label>
                    <input type="text" class="form-control" value="{{ profile.user.username }}" pattern="[A-Za-z]+' '+{3,25}" title="Nombre de usuario de minimo 3 letras" name="nombre_usuario" placeholder="Juan David" required>
                </div>

                <div class="form-group col-5 ml-5">
                    <label for="">Correo electrónico</label>
                    <input type="email" class="form-control" value="{{ profile.user.email }}" name="correo" placeholder="Ingrese un correo" required> 
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-5 ml-5">
                    <label for="">Nombres</label>
                    <input type="text" class="form-control" value="{{ profile.user.first_name }}" pattern="[A-Za-z]+' '+{3,25}" title="Tus nombres deben tener minimo 3 letras" name="nombres" placeholder="Gonzales" required>
                </div>
                <div class="form-group col-5 ml-5">
                    <label for="">Apellidos</label>
                    <input type="text" class="form-control" value="{{ profile.user.last_name }}" pattern="[A-Za-z]+' '+{3,25}" title="Tus apellidos deben tener minimo 3 letras" name="apellidos" placeholder="Rodriguez" required>
                </div>
            </div>
    
            <div class="form-row">
                <div class="form-group col-5 ml-5">
                    <label for="">Dirección de residencia</label>
                    <input class="form-control" type="text" value="{{ profile.address }}"  maxlength="50" name="direccion" placeholder="Direccion de residencia" required>
                </div>
                <div class="form-group col-5 ml-5">
                    <label for="">Telefono</label>
                    <input type="number" class="form-control" value="{{ profile.telephone_number }}" pattern="[0-9]{10}" title="Ingresa un numero de 10 digitos" name="telefono" placeholder="Numero de telefono" required>
                </div>
            </div>

            <div class=" botones form-row">

                <div class="form-group col-5 mt-4 ml-3 mb-0  mr-5">
                    <a href="{% url 'AdminConsultaE' %}" class="btn btn-secondary form-control" name="btn-cancelar">Cancelar acción</a>
                </div>

                <div class="form-group col-5 mt-4 ml-3 mb-0 ">
                    <input class="btn btn-success form-control" type="submit" name="actualizar" value="Actualizar">
                </div>
                
            </div>

            <style>

                .botones{
                    margin:0;
                    padding:0;
                    margin-left:40px;
                }
            </style>


        </form>

    {% endblock %}