{% extends 'baseEmp.html' %}
{% block title %} Consulta producto {% endblock %}
    {% block content %}
    {% load static %}




    <style>
        .lnr-apartment{
            font-size: 25px;
            color: white;
        }
        .lnr-cart{
            font-size: 25px;
            color: white;
        }
        .lnr-exit{
            font-size: 25px;
            color: white;
        }
        .lnr-chart-bars{
            font-size: 40px;
            color: white;
        }
    </style>



    <style>
    .tab_empleados{
        width: 100%;
    }

    .consult{
        margin-top:40px;
        margin-left:70.5%;
        padding:5px;
        width: 370px;
    }

    .consult input[type="text"]{
        width:250px;
    }

    .consult input[type="submit"]{
        margin-left:10px;
        width:100px;
    }

    .cabecera_tabla{
        background-color: rgb(5, 5, 92);
        color:white;
        font-weight: bold;
        padding:10px;
        text-align:center;
    }

    .contenedor_tabla{
        width:82%;
        margin-left: 245px;
    }
    </style>

    <div class="contenedor d-flex">
        
        <form action="#" class="consult" method="POST">
            <div class="form-row">
                <input type="text" class="form-control" name="consultar_producto">
                <input type="submit" class="form-control btn btn-primary" name="btn-consulta_producto" value="Consultar" >
            </div>

        </form>
        
    </div>
    <br>


    <div class="contenedor_tabla container table-responsive">
    <table class=" tab_empleados table ml-0 mr-0 mb-0">

    <thead class="cabecera_tabla">
        <tr>

            <th> Código producto</th>
            <th> Nombre del producto </th>
            <th> Marca </th>
            <th> Precio del producto</th>
            <th> Cotenido neto</th>
            <th> Unidades en stock</th>
            <th> Activo</th>

        </tr>
    </thead>

    <tbody>

        <tr>
            <td>1</td>
            <td>Pasta en conchitas</td>
            <td>Doria</td>
            <td>1130</td>
            <td>250gr</td>
            <td>16</td>
            <td>1</td>

        </tr>

        <tr>
            <td>2</td>
            <td>Spaguetti</td>
            <td>Doria</td>
            <td>1090</td>
            <td>250gr</td>
            <td>2</td>
            <td>1</td>

        </tr>

        <tr>
            <td>3</td>
            <td>Cereal Zucaritas</td>
            <td>Kellogg's</td>
            <td>5000</td>
            <td>420gr</td>
            <td>13</td>
            <td>1</td>

        </tr>

        <tr>
            <td>4</td>
            <td>Frijol Rojo</td>
            <td>Diana</td>
            <td>6750</td>
            <td>1000gr</td>
            <td>17</td>
            <td>1</td>

        </tr>

        <tr>
            <td>5</td>
            <td>Duranznos en almibar</td>
            <td>Colombina</td>
            <td>4990</td>
            <td>822gr</td>
            <td>17</td>
            <td>1</td>

        </tr>

        <tr>
            <td>6</td>
            <td>Mantequilla</td>
            <td>Alpina</td>
            <td>2720</td>
            <td>250gr</td>
            <td>67</td>
            <td>1</td>

        </tr>

        <tr>
            <td>7</td>
            <td>Margarina</td>
            <td>Rama</td>
            <td>5840</td>
            <td>500gr</td>
            <td>10</td>
            <td>1</td>

        </tr>

        <tr>
            <td>8</td>
            <td>Chocolate</td>
            <td>Sol</td>
            <td>3250</td>
            <td>500gr</td>
            <td>11</td>
            <td>1</td>

        </tr>

        <tr>
            <td>9</td>
            <td>Cafe instantaneo</td>
            <td>Colcafe</td>
            <td>8880</td>
            <td>170gr</td>
            <td>7</td>
            <td>1</td>

        </tr>

        <tr>
            <td>10</td>
            <td>Aceite</td>
            <td>Girasol</td>
            <td>6950</td>
            <td>170gr</td>
            <td>18</td>
            <td>1</td>

        </tr>


    </tbody>
    </table>
</div>

    {% endblock %}