{% load products_extras %}
<div class="col-3 my-3 mx-2">
  <div class="col-12 mb-5">
    <div class="card h-100 shadow-sm"><a href="{% url 'Agregar' %}"><img src="{{ product.product_image.url }}"
          class="card-img-top" alt="..."> </a>
      {% if product.stock %}
      <div class="label-top shadow-sm" style="background-color: #8bc34a;">{{ product.name }}</div>
      {% else %}
      <div class="label-top shadow-sm" style="background-color: #c34a4a;">{{ product.name }}</div>
      {% endif %}
      <div class="card-body">
        <div class="clearfix mb-3">
          {% if product.stock %}
          <span class="precio float-start badge rounded-pill bg-warning">$
            {{product.price_product }}</span> <span class="float-end"><a href="#" class="small text-muted"></a></span>
        </div>
        {% else %}
        <span class="precio float-start badge rounded-pill bg-secondary">$
          {{product.price_product | price_format}}</span> <span class="float-end"><a href="#"
            class="small text-muted"></a></span>
      </div>
      {% endif %}





      <table>

        <tr>
          <td>Marca</td>
          <td>{{ product.brand }}</td>
        </tr>

        <tr>
          <td>Tamaño</td>
          <td>{{product.net_content}}</td>
        </tr>

        <tr colspan="2">
          {% if product.stock %}
          <td style="color: green; font-weight: bold; margin: auto;">Disponible</td>
          {% else %}
          <td style="color: red; font-weight: bold; margin: auto;">Agotado</td>
          {% endif %}
        </tr>

      </table>
      <div class="text-center my-4 fa-solid fa-cart-circle-plus">
        <a href="{% url 'index' %}" class="btn btn-outline-dark"> Ver más</a>

      </div>



      <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span>
        <span class="float-end"><i class="fas fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>
</div>