    {% extends 'baseAdmin.html' %}
    {% block title %} Registro Venta {% endblock %}
    {% block content %}
    {% load static %}


    



    <style>
        .lnr-apartment{
            font-size: 25px;
            color: white;
        }
        .lnr-cart{
            font-size: 25px;
            color: white;
        }

        .Venta{
            width: 1050px;
            color: rgb(18, 38, 107);
            position: relative;
            top: 20px;
            left: 270px;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .titulo{
            background-color: rgb(5, 5, 92);
            color: white;
        }

        .btn_registro{
            margin-left: 250px;
        }

        .info{
        font-weight: bold black;
        width: 100%;
        padding: 10px;
        width: 250px;
        margin-right: 10px;
    }

    .info h1{
        font-size: 20px;

    }

    .contenedor{
        width:730px;
        margin-left:42%;
    }
    </style>



    <br>

<div class="contenedor d-flex justify-content-end mr-5">

    <div class="info">
        <h1>Gestión de ventas</h1>
    </div>
    
        <div>
            <a class="btn btn-success mr-4" href="{% url 'AdminRegistroVen'%}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
            </svg>

                Registrar venta
            </a>
        </div>

        <div>
            <a class="btn btn-primary" href="{% url 'AdminConsultaVen' %}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>

                Consultar venta    
            </a>
        </div>
</div>


    <div class="Venta">
        <form action="" method="POST">
            <div class="titulo text-lg-center p-2">
                <h1>Registrar nueva venta</h1>
            </div>


            <div class="form-row mt-5">
                <div class="form-group col-5 ml-5">
                    <label>Fecha de la venta</label>
                    <input type="date" class="form-control" name="FechaVenta" value="2022-02-04" disabled> 
                </div>

                <div class="form-group col-5 ml-5">
                    <label>Valor total de la venta</label>
                    <input type="number" class="form-control" min="1" max="500000" name="Total" placeholder="120000" min="0" required>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-5 ml-5">
                    <label>Cédula del administrador que registra la venta</label>
                    <input type="number" class="form-control" placeholder="Numero de documento del administrador">

                </div>

                <div class="opciones form-group col-5 ml-5">
                    <label>Código del cliente que realiza la venta </label>
                    <select name="Cod_cliente" class="form-control">
                        <option value="4">Amor</option>
                        <option value="5">Rosio</option>
                        <option value="7">Toribio</option>
                        <option value="8">Dominga</option>
                        <option value="9">Lupe</option>
                        <option value="10">Lupe</option>
                        <option value="12">Otilia</option>
                        <option value="13">Asunsion Leocadia</option>
                    </select>
                </div>

            </div>
            <br>
            <br>

            <table class="table">
                <thead>
                    <tr class="bg-dark text-white font-weight-bold">
                        <td>Código del producto</td>
                        <td>Nombre producto</td>
                        <td>U. disponibles</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                        <td>Total</td>
                        <td>Agregar</td>
                    </tr>

                    <tbody>
                        <tr>
                            <td><input id="cod_producto_consulta" type="number" min="1"></td>
                            <td id="nombre_producto_resultado"></td>
                            <td id="unidades_disponibles"></td>
                            <td><input id="cantidad_producto" type="number" name="cantidad" min="1" disabled></td>
                            <td id="precio_producto_resultado">0.00</td>
                            <td id="precio_total">0.00</td>
                            <td><a href="#" class="btn btn-primary form-control" id="btn_agregar">Agregar</a></td>
                            
                        </tr>                        
                    </tbody>

            </table>

            <table class="table">

                <thead>
                    <tr class="tb_cabecera border-0 bg-dark text-white font-weight-bold">
                        <td>Código del producto</td>
                        <td>Nombre producto</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                        <td>Total</td>
                        <td>Eliminar</td>
                    </tr>                    
                </thead>


                <tbody id="detalle_venta_resultado">
                    <tr>
                        <td>12144</td>
                        <td>Detergente</td>
                        <td>3</td>
                        <td>10000.00</td>
                        <td>30000.00</td>
                        <td><a class="btn_eliminar btn form-control btn-danger" href="#">eliminar</a></td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" class="btn_registro btn btn-outline-success w-50" name="insertar" value="Insertar datos">

        </form>
    </div>

    {% endblock %}