    {% extends 'baseAdmin.html' %}
    {% block title %} Administrador {% endblock %}
    
    {% block content %}
    {% load static %}
    

    <br> 
    <div class="info">
        <header>
            <h1>Bienvenido Administrador</h1>    
        </header>
        <p>
        Usted tiene el acceso para crear un nuevo usuario, consultar los productos que tiene en su tienda, inhabilitar usuarios, entre otras más funcionalidades
        </p>

        <img class="img" src="{% static 'images/admin.png'%}">
        
    </div>
    {% endblock %}

