
    {% extends 'baseAdmin.html' %}
    {% block title %} Registro compra {% endblock %}
    {% block content %}
    {% load static %}
<br>
    <style>
        .Compra{
            width: 1050px;
            color: rgb(4, 4, 22);
            position: relative;
            top: 20px;
            left: 25%;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .titulo{
            background-color: rgb(4, 4, 22);
            color: white;
        }

        .btn_registro{
            margin-left: 250px;
            border: solid #208454 0.5px;
            background: #ffffff;
            color: #208454;
        }

        .btn_registro:hover{
            margin-left: 250px;
            border: solid #208454;
            color: #ffffff;
            background: #208454;
        }

        .info{
        font-weight: bold black;
        width: 100%;
        padding: 10px;
        width: 250px;
        margin-right: 26%;
    }

    .info h1{
        font-size: 20px;

    }

    .contenedor{
        width:730px;
        margin-left:42%;
    }

    @media (max-width: 2560px){
    .Compra{
        width: 70%;
        color: rgb(4, 4, 22);
        position: relative;
        top: 20px;
        left: 20%;
        box-sizing: border-box;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
        transition: all 0.5s;
    }
    .contenedor{
        width:60%;
        margin-left:24%;
        transition: all 0.5s;
    }
}
@media (max-width: 1440px){
    .Compra{
        width: 70%;
        color: rgb(4, 4, 22);
        position: relative;
        top: 20px;
        left: 25%;
        box-sizing: border-box;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
        transition: all 0.5s;
    }
    .contenedor{
        width:730px;
        margin-left:36%;
        transition: all 0.5s;
    }
}
@media (max-width: 1024px){
}
@media (max-width: 768px){
}
@media (max-width: 425px){
}
@media (max-width: 375px){
}
@media (max-width: 320px){
}

    </style>

<div class="contenedor d-flex justify-content-end mr-5">

        <div class="info">
            <h1>Gestión de compras</h1>
        </div>

        <div>
            <a style="background: rgb(1, 71, 147); color: white;" class="btn" href="{% url 'AdminConsultaCom'%}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>

                Consultar compra   
            </a>
        </div>
</div>


    <div class="Compra">
        
            <div class="titulo text-lg-center p-2">
                <h1>Registrar nueva compra</h1>                
            </div>

            <div class="form-row" style="margin-top: 15px;">

                <div style="margin-left: 74%;" class="form-group col-3">
                    <input onkeyup={buscarEmp()} id="buscar" placeholder="Buscar..." type="text" class="form-control">
                    
                </div>
            </div>

            <div style="height: 230px; margin-bottom: 30px;" class="table-responsive">
                <table id="tabla" data-sort="table" class="table table-hover">
    
                    <thead class="sticky-top">
                        <tr style="background: rgb(4, 4, 22);" class=" text-white font-weight-bold">
                            <td>Nombre producto</td>
                            <td>Proveedor</td>
                            <td>U. disponibles</td>
                            <td>Precio</td>
                            <td>Cantidades nuevas</td>
                            <td>Agregar</td>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for product in products %}
                        {% if product.state == True %}
                        {% if products_agregated == 0 %}
                        <tr>
                            <td>{{ product.name }} {{ product.brand }}</td>
                            <td>{{ product.cod_supplier.name_supplier }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.price_supplier }}</td>
                            
                            {% include 'addpurchase.html' %}
                        </tr> 
                        {% endif %}
                        {% endif %}
                        {% endfor %}                     
                    </tbody>

                    {% if products_agregated > 0 %}
                        <tbody>
                            {% for product in products %}
                            {% if product.state == True and first_product_agregated.cod_supplier.name_supplier == product.cod_supplier.name_supplier %}
                            <tr>
                                <td>{{ product.name }} {{ product.brand }}</td>
                                <td>{{ product.cod_supplier.name_supplier }}</td>
                                <td>{{ product.stock }}</td>
                                <td>{{ product.price_supplier }}</td>
                                {% include 'addpurchase.html' %}
                                    
                            </tr> 
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    {%endif%}
                </table>
                </div>
                {% include 'administrador/ListadoCompra.html' %}

                <form id="compra" action="{% url 'CompletarCompra' %}" method="post">
                    {% csrf_token %}
                <div class="form-row" style="margin-top: 15px;">

                    <div class="form-group col-2">
                        <label style="margin-left: 40px; font-size: 20px; color: black;">Proveedor</label>
                    </div>

                    <div class="form-group col-3 mr-5">
                        <select name="supplier" id="proveedor" class="form-control" style="margin: auto;"required readonly>
    
                            {% if compra.cod_product.exists %}
                                {% for cp in compra.products_related_purchase %}
                                    {% with product=cp.product %}
    
                                        {% for sup in supplier %}
                                        {% if sup.state_supplier == True and sup.name_supplier == product.cod_supplier.name_supplier %}
                                        <option value="{{ sup.cod_supplier }}">{{ sup.name_supplier }} - {{ sup.enterprise }}</option>
                                        {% endif %}
                                        {% endfor %}
    
                                    {%endwith%}
                                {% endfor %}
                            {% endif %}
    
    
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <input type="submit" id="confirm_purchase" class="btn_registro btn form-control" name="insertar" value="Insertar datos">
                    </div>
                </div>
                    
                </form>
                
    </div>


    
    
    


{% endblock %}