{% extends 'baseAdmin.html' %}
{% block title %} Consulta Empleado {% endblock %}
    {% block content %}
    {% load static %}

    <br> 
    <style>

    .contenedor{
        width:80%;
        margin-left:18%;
        margin-bottom:25px;
        margin-top:15px;
    } 

    .consult{
        margin-right:27%;
        padding:5px;
        width: 400px;
    }

    .consult input[type="text"]{
        width:250px;
    }

    .consult input[type="submit"]{
        margin-left:10px;
        width:100px;
    }

    .tab_empleados2{
        width: 125%;
        padding: 10px;
        border: none;
        border-collapse: collapse;
        border:transparent;
        border-radius: 8px;
        margin-top:10px;
        margin-left:-12%;
        font-size:18px;
    }

    td{
        padding:10px;
    }

    .cabecera_tabla{
        background-color: rgb(4, 4, 22);
        color:white;
        font-weight: bold;
        
    }
    
    .reporte{
        margin-left: 980px;
    }

    .s{
    margin-left: 240px;
    width: 82%;
    }
    @media (max-width: 2560px){
        .contenedor{
            width:80%;
            margin-left:1%;
            margin-bottom:25px;
            margin-top:15px;
            transition: all 0.5s;
        }
        .s{
            margin-left: 23%;
            width: 82%;
            transition: all 0.5s;
            }
        #buscar{
            padding:10px 100px 10px 10px;
            margin-right: 450px;
            right:10px;
        }
    }
    @media (max-width: 1440px){
        .contenedor{
            width:80%;
            margin-left:16%;
            margin-bottom:25px;
            margin-top:15px;
            transition: all 0.5s;
        }
        .s{
            margin-left: 15%;
            width: 82%;
            transition: all 0.5s;
            }
            .tab_empleados2{
                width: 110%;
                padding: 10px;
                border: none;
                border-collapse: collapse;
                border:transparent;
                border-radius: 8px;
                margin-top:10px;
                margin-left:-7%;
                font-size:18px;
            }
    }
    @media (max-width: 1024px){
    }
    @media (max-width: 768px){
    }
    @media (max-width: 425px){
    }
    @media (max-width: 375px){
    }
    @media (max-width: 320px){
    }
    </style>


<div class="contenedor d-flex justify-content-end">

        <div class="form-row">
            <input onkeyup={buscarEmp()} id="buscar" placeholder="Buscar..." type="text" class="form-control" name="consultar_venta">
        </div>

    <div>
        <a style="background: #208454" class="btn btn-success mr-4" href="{% url 'AdminRegistroVen'%}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
            </svg>

                Registrar venta
            </a>
    </div>

    <div>
            <a class="btn btn-warning" href="{% url 'GraficaVentas' %}">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                    <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                </svg>

                Ventas del año  
            </a>
    </div>
</div>


{% include 'administrador/tablaventa.html' %}

<div class="my-3" style="margin-left: 5%; ">
    {% include 'administrador/paginators/paginatorSales.html' %}
</div>  
    {% endblock %}