{% extends 'baseAdmin.html' %}
{% block title %} Consulta empleado {% endblock %}
    {% block content %}
    {% load static %}

    <br> 
    <style>

    .contenedor{
        width:100%;
        margin-left:-32%;
        margin-bottom:25px;
        margin-top:5px;
    }

    .registro{
        margin-left:60px;
        margin-right: 30px;
    }

    .consult{
        margin-right:35%;
        padding:5px;
        width: 400px;
    }

    .consult input[type="text"]{
        width:250px;
    }

    .consult input[type="submit"]{
        margin-left:10px;
        width:100px;
    }
    @media (max-width: 2560px){
        .contenedor{
            width:100%;
            margin-top: 1%;
            margin-left:-2%;
            transition: all 0.5s;
        }
        .consult{
        margin-right:48%;
        padding:5px;
        width: 500px;
    }
    }
    @media (max-width: 1440px){
        .contenedor{
            width:100%;
            margin-left:0%;
            margin-bottom:25px;
            margin-top:15px;
            transition: all 0.5s;
        }
        .consult{
        margin-right:30%;
        padding:5px;
        width: 500px;
    }
    }
    @media (max-width: 1024px){
    }
    @media (max-width: 768px){
    }
    @media (max-width: 425px){
    }
    @media (max-width: 375px){
    }
    @media (max-width: 320px){
    }
    </style>

    <div class="contenedor d-flex justify-content-end">
        <form class="consult" action="consultaempleado.html" method="POST">

            <div class="form-row">
                <input type="text" class="form-control" placeholder="Buscar..." onkeyup={buscarEmp()} id="buscar" name="consultar_empleado">
            </div>

        </form>

        <div>
            <a style="background: #208454;" class="registro btn btn-success" href="{% url 'AdminRegistroE' %}">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill mr-2" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            
                Registrar Empleado
            </a>
        </div>
    </div>





<style>

    .tab_empleados{
        width: 150%;
    }

    td{
        padding-right:7px;
        padding-left:7px;
        padding-top:10px;
        padding-bottom:10px;
    }

    .cabecera_tabla{
        background-color: rgb(4, 4, 22);
        color: white;
        font-weight: bold;
    }

    .contenedor_tabla{
        width:80%;
        height: 500px;
        margin-left: 7%;
    }

    @media (max-width: 2560px){
        .contenedor_tabla{
            width:80%;
            height: 500px;
            margin-left: 7%;
        }
    }
    @media (max-width: 1440px){
        .contenedor_tabla{
            font-size:14px;
            width:63%;
            height: 500px;
            margin-left: 7%;
        }
    }
    @media (max-width: 1024px){
    }
    @media (max-width: 768px){
    }
    @media (max-width: 425px){
    }
    @media (max-width: 375px){
    }
    @media (max-width: 320px){
    }

</style>

<div class="contenedor_tabla container table-responsive-lg">

    <table id="tabla" data-sort="table" class='table tab_empleados table'>

        <thead class="cabecera_tabla">
            <tr>

                <th> No. Cedula</th>
                <th> Nombres</th>
                <th> Apellidos </th>
                <th> Fecha nacimiento</th>
                <th> Dirección</th>
                <th> Genero</th>
                <th> Teléfono</th>
                <th> Email</th>
                <th> Activo</th>
                <th></th>
                <th></th>

            </tr>  
        </thead>



        <tbody>

            {% for employee in employees %}

            <tr>
                <td>{{ employee.id_profile }}</td>
                <td>{{ employee.user.first_name }}</td>
                <td>{{ employee.user.last_name }}</td>
                <td>{{ employee.birthdate }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.telephone_number }}</td>
                <td>{{ employee.user.email }}</td>
                
                <td>
                    {% if employee.state == True %}
                        Contratado
                    {% elif employee.state == False %}
                        Despedido
                    {% endif %}
                </td>

                <td>

                    <a href="{% url 'AdminUpdateE' employee.id_profile %}" class="btn" style="padding: 8px; padding-top: 5px; background: #208454;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        </a>

                </td>
                <td>

                {% if employee.state == True %}

                <form action="{% url 'AdminEliminarE'%}" method="get">
                    <input type="hidden" value="{{ employee.id_profile }}" name="id_profile">
                    <input type="hidden" value="{{ employee.user.id }}" name="id_user">

                    <button type="submit" class="btn" style="padding: 8px; padding-top: 5px; background: #ad0909;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </button>
                </form>                

                {% elif employee.state == False %}
                    <form action="{% url 'AdminHabilitarE' %}" method="get">
                        <input type="hidden" value="{{ employee.id_profile }}" name="id_profile">
                        <input type="hidden" value="{{ employee.user.id }}" name="id_user">

                        <button type="submit" class="btn" style="padding: 8px; padding-top: 5px; background: #208454;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </button>
                    </form>
                {% endif %}
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</div>

<div class="my-3" style="margin-left: 5%; ">
    {% include 'administrador/paginators/paginatorCE.html' %}
</div>


    {% endblock %}

    