    {% extends 'baseAdmin.html' %}
    {% block title %} Registro Proveedor {% endblock %}
    {% block content %}
    {% load static %}

    <style>

        .contenedor{
            width:430px;
            margin-left:65%;
            transition: all 0.5s;
        }

        .Formulario_proveedor{
            width: 80%;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            left: 20px;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
            font-weight: bold;
            transition: all 0.5s;
        }

        .Formulario_proveedor .titulo h1{
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .Formulario_proveedor input[type="text"],
        .Formulario_proveedor input[type="number"]{
            border: 2px solid rgba(4, 4, 22, 0.885);
            box-shadow: 3px 3px 5px rgba(4, 4, 22, 0.885);
            background: transparent;
        }

        .consult{
            padding:5px;
            width: max-content;
            transition: all 0.5s;
        }

        .consult input[type="text"]{
            width:100%;
            transition: all 0.5s;
        }

        .consult input[type="submit"]{
            margin-left:10px;
            width:100px;
            transition: all 0.5s;
        }

        .cabecera_tabla{
            background-color: rgb(4, 4, 22);
            color: white;
            font-weight: bold;
        }

        .tab_empleados{
            margin-top:20px;
            width: 75%;
            margin-left:280px;
            transition: all 0.5s;
        }

        .formCon{
            float: left;
            margin-left: -5%;
            margin-top: 20px;
        }
        .reporte{
            margin-top: 25px;
            padding-top: 5px;
        }

        .barra{
            width: 1000px;
            margin-left: 330px;
            transition: all 0.5s;
        }
        
        @media (max-width: 2560px){
    .barra{
        margin-top: 2%;
        width: 70%;
        margin-left: 25%;
        
    }
}
@media (max-width: 1440px){
    .consult input[type="text"]{
        width:100%;
    }
    .barra{
        width: 79%;
        margin-left: 24%;
    }
    .tab_empleados{
        margin-top:20px;
        width: 75%;
        margin-left:280px;
        transition: all 0.5s;
    }
}
@media (max-width: 1024px){
}
@media (max-width: 768px){
}
@media (max-width: 425px){
}
@media (max-width: 375px){
}
@media (max-width: 320px){
}
    </style>


<div class="barra">

    <div class="formCon">
    <div class="consult">
        <div class="form-row">
            <input type="text" placeholder="Buscar..." onkeyup={buscarEmp()} id="buscar" class="form-control mx-3 " name="consultar_proveedor">
        </div>
    </div>
    </div>
        <div id="reporte">
            <a style="margin-left: 53%;" class="btn btn-primary mt-4 " data-toggle="modal" data-target="#staticBackdrop">
                Registro Nuevo Proveedor
            </a>
        </div>
    </div>

    <table id="tabla" data-sort="table" class="tab_empleados table">
        <thead class="cabecera_tabla table-responsive-lg">
            <th>Identificación proveedor</th>
            <th>Nombre del proveedor</th>
            <th>Empresa del proveedor</th>
            <th>Teléfono de contacto</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            {% for suppliers in supplier_list %}
                <tr>
                    <td>{{ suppliers.cod_supplier }}</td>
                    <td>{{ suppliers.name_supplier }}</td>
                    <td>{{ suppliers.enterprise }}</td>
                    <td>{{ suppliers.telephone_number }}</td>
                    {%if suppliers.state_supplier == True %}
                        <td>Activo</td>
                    {% else %}
                    <td>Inactivo</td>
                    {% endif %}
                    <td>
                            <a href="{% url 'AdminUpdateProv' suppliers.pk %}" class="btn btn-success" style="padding: 8px; padding-top: 5px; background: #208454;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            </a>
                    </td>

                {%if suppliers.state_supplier == True %}
                    <td>
                            <a href="{% url 'AdminEliminarProv' suppliers.pk %}" class="btn btn-danger" style="padding: 8px; padding-top: 5px; background: #ad0909;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-fill-slash" viewBox="0 0 16 16">
                                    <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                                </svg>
                            </a>
                    </td>
                {% else %}
                    <td>
                        <a href="{% url 'AdminHabilitarProv' suppliers.pk %}" class="btn btn-success" style="padding: 8px; padding-top: 5px; background: #208454;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}

        </tbody>
    </table>


    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar un nuevo proveedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post" class="Formulario_proveedor">
                    {% csrf_token %}
                    {% for field in form%}
                    <div class="form-row">
                        <div class="form-group col-12">
                            {{field.label_tag}}
                            {{field}}

                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" style="background: #ad0909; margin-right: -4%;" class="btn btn-danger">Guardar Cambios</button>
                    </div>
                </form>
            
            </div>

          </div>
        </div>
    </div>
    <div class="my-3" style="margin-left: 5%; ">
        {% include 'administrador/paginators/paginatorProv.html' %}
    </div>

{% endblock %}