
    {% extends 'baseAdmin.html' %}
    {% block title %} Registro empleado {% endblock %}
    {% block content %}
    {% load static %}

    

    <script>

        $(document).ready(function() {
            $(".boton").click(function() {
                swal({
                    title: "Registro exitoso",
                    text: "Venta",
                    icon: "success",
                });
            });
        });

</script>

    <br> 
    <style>

    .info{
        font-weight: bold black;
        width: 80%;
        padding: 10px;
        width: 250px;
        margin-right: 10px;
    }

    .info h1{
        font-size: 20px;

    }


        .formulario_empleado{
            width: 60%;
            background: rgba(206, 201, 201, 0.733);;
            color: rgb(4, 4, 22);
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            top: 10px;
            left: 28%;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
            box-shadow:  4px 4px 10px rgba(122, 119, 119, 0.726);
            font-weight: bold;
        }

        

        .formulario_empleado .titulo h1{
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .formulario_empleado input[type="text"],
        .formulario_empleado input[type="number"],
        .formulario_empleado input[type="date"],
        .formulario_empleado input[type="email"],
        .formulario_empleado input[type="password"]{
            border: none;
            border: 2px solid rgba(4, 4, 22, 0.885);
            box-shadow: 3px 3px 5px rgba(4, 4, 22, 0.885);
            background: transparent;
            color:black;
            transition: all 0.5s;
        }

        .formulario_empleado select{
            border: 2px solid rgba(4, 4, 22, 0.885);
            box-shadow: 3px 3px 5px rgba(4, 4, 22, 0.885);
            background: transparent;
            color: black;
        }

        .boton{
            margin-top: 20px;
            margin-left: 34%;
            border: none;
            outline: none;
            background: #ac0707fd;
            color: white;
            font-size: 18px;
            width: 300px;
            border-radius: 20px;
        }

        .boton:hover{
            background-color: #690606fd;
            
        }
    
        .correos input[type="text"],
        .correos textarea{
            border: 2px solid rgba(4, 4, 22, 0.885);
            box-shadow: 3px 3px 5px rgba(4, 4, 22, 0.885);
            background: transparent;
        }


        .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

@media (max-width: 2560px){
    *{
        {% comment %} background-color: yellow; {% endcomment %}
    }
    .contenedor{
        width:62%;
        margin-top: 1% ;
        margin-left:23%;
        transition: all 0.5s;
    }
    .formulario_empleado{
        margin-top: 1%;
        left: 25%;
        transition: all 0.5s;
    }
    .info{
        padding: 10px;
        margin-right: 30%; 
        transition: all 0.5s;
    }
}
@media (max-width: 1440px){
    *{
        {% comment %} background-color: blue; {% endcomment %}
    }
    .contenedor{
        width:65%;
        margin-left:23%;
        transition: all 0.5s;
    }
    .formulario_empleado{
        width: 65%;
        left: 23%;
        transition: all 0.5s;
    }
    .info{
        padding: 10px;
        margin-right: 20%;
        transition: all 0.5s;
    }
}
@media (max-width: 1024px){
    .contenedor{
        transition: all 0.5s;
    }
    .formulario_empleado{
        transition: all 0.5s;
    }
    .info{
        transition: all 0.5s;
    }
}
@media (max-width: 768px){
}
@media (max-width: 425px){
}
@media (max-width: 375px){
}
@media (max-width: 320px){
}

    </style>

    <div class="contenedor d-flex justify-content-end">

        <div class="info">
            <h1>Gestión de empleados</h1>
        </div>

        <div>
            <a class="btn btn-success mr-4" style="background: #208454;" data-toggle="modal" data-target="#CorreosMasivos">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                    <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                    <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                </svg>

                Enviar Correos
            </a>
        </div>

        <div>
        <a class="btn btn-primary" href="{% url 'AdminConsultaE'%}">

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>

            Consultar Empleado    
        </a>
        </div>
    </div>


    <form method="post" class="formulario_empleado">
        {% csrf_token %}
        <div class="titulo">
            <h1>Registrar nuevo empleado</h1>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-12 col-md-5 ml-5">
                <label for="">Numero identificación</label>
                <input type="number" class="form-control" pattern="[0-9]{1,11}" title="Solo se permite el ingreso de maximo 11 digitos" name="identificacion_empleado" placeholder="Ingrese identificacion" required>
            </div>
            <div class="form-group .col-sm-12 col-md-5 ml-5">
                <label for="">Nombre de usuario</label>
                <input type="text" class="form-control" pattern="[A-Za-z]+' '+{3,25}" title="Nombre de usuario de minimo 3 letras" name="nombre_usuario" placeholder="Juan David" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-5 ml-5">
                <label for="">Nombres</label>
                <input type="text" class="form-control" pattern="[A-Za-z]+' '+{3,25}" title="Tus nombres deben tener minimo 3 letras" name="nombres" placeholder="Gonzales" required>
            </div>
            <div class="form-group col-5 ml-5">
                <label for="">Apellidos</label>
                <input type="text" class="form-control" pattern="[A-Za-z]+' '+{3,25}" title="Tus apellidos deben tener minimo 3 letras" name="apellidos" placeholder="Rodriguez" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-5 ml-5">
                <label for="">Dirección de residencia</label>
                <input class="form-control" type="text" maxlength="50" name="direccion" placeholder="Direccion de residencia" required>
            </div>
            <div class="form-group col-5 ml-5">
                <label for="">Fecha de nacimiento</label>
                <input type="date" class="form-control" min="2004-03-27" name="fecha_nacimiento" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-5 ml-5">
                <label for="">Teléfono</label>
                <input type="number" class="form-control" pattern="[0-9]{10}" title="Ingresa un numero de 10 digitos" name="telefono" placeholder="Numero de telefono" required>
            </div>

            <div class="form-group col-5 ml-5">
                <label for="">Genero</label>
                <select name="genero" class="form-control">
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-5 ml-5">
                <label for="">Correo electrónico</label>
                <input type="email" class="form-control" name="correo" placeholder="Ingrese un correo" required> 
            </div>
            <div class="form-group col-5 ml-5">
                <label class="contra">Contraseña</label>
                <input type="password" maxlength="20" class="form-control" name="contraseña" required> 
            </div>
        </div>

        <input class="boton btn btn-primary" type="submit" name="insertar" value="Registrar datos">
    </form>


    <div class="modal fade" id="CorreosMasivos" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enviar correo a todos los empleados</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'EnvioCorreo' %}" class="correos">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-11">
                            <label style="font-weight: bold; margin-left: 20px;" for="">Asunto del Correo</label>
                            <input style="margin-left: 20px;" type="text" class="form-control" name="asunto" placeholder="Información Importante" required />
                        </div>

                        <div class="form-group col-11 ml-2">
                            <label style="font-weight: bold; margin-left: 20px;" for="">Mensaje</label>
                            <textarea style="height: 150px; margin-left: 14px;" class="form-control" name="mensaje" placeholder="Introduce el mensaje a enviar" required></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Enviar correo</button>
                    </div>
                </form>
            
            </div>

          </div>
        </div>
    </div>

    <script>
        var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

    </script>

    {% endblock %}