    .nav-sidebar{
        background-color: rgb(4, 4, 22);

    }
    .navbar{
        background-color: rgb(4, 4, 22);

    }
    .main-sidebar{
        background-color: rgb(4, 4, 22);

    }

    .nav-link{
        border-bottom-right-radius: 15px !important;
        border-top-left-radius:15px !important ;
    }


    .sidebar-dark-danger .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-danger .nav-sidebar>.nav-item>.nav-link.active {
        background-color: #ac0707fd;
        color: #fff;
    }

   

    .btn-success{
        background-color:#198754 !important ;
    }

    


    .btn-outline-success {
        color: #208454;
        
        border-color: #208454 ;
    }
    .btn-outline-success:hover {
        color: #fff;
        background-color: #208454;
        border-color: #208454;
        }
    .btn-outline-primary {
        color: #fff;
        background-color: rgb(1, 71, 147)!important;
        border-color: rgb(1, 71, 147)!important;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }
    .btn-primary{
        background: rgb(1, 71, 147)!important;
        border-color: rgb(1, 71, 147)!important;
    }
    .btn-outline-info{
        color: rgb(1, 71, 147)!important;
        border-color: rgb(1, 71, 147)!important;
    }
    .btn-outline-info:hover{
        color: rgb(255, 255, 255)!important;
        background:rgb(1, 71, 147)!important ;
        border-color: rgb(1, 71, 147)!important;
    }
    .update{
        color: #fff;
        background: rgb(4, 4, 22)!important;
    }
    .update:hover{
        color: #fff;
        background-color: #198754;
    }
    .brand-link {
        background: rgb(4, 4, 22)!important;
    }
    /*[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
        background-color: aqua;
        color: #fff;
    }*/