{% extends 'registration/baseRecuperar.html' %}
{% block content %}
{% load static %}

<style>
    *{
        color: aliceblue;
    }
    body{
        background: url('/static/images/recuperarC.jpg') no-repeat ;
        background-size: cover;
    }
    
.container{
    margin-top: 120px;
    text-align: center;
}
    
 .bg-custom{
    height: 200px;
    width: 25%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 38%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
 }

 .btn-size{
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
 }


    
    </style>


<div class="container">
    <div class="col-5 my-5 bg-custom shadow">
        <div class="row ">
            <p>Su contraseña Se ha restablecido correcta mente</p>
        </div>
        <div class="row">
            <a class=" btn btn-danger btn-size" href="{% url 'login' %}">Iniciar sesion</a>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% block js %}
<script>
    Swal.fire({
    
    icon: 'success',
    title: 'Tu contraseña ha restablecido',
    showConfirmButton: false,
    timer: 1500
})
</script>
{% endblock %}

{% endblock %}