{% extends 'registration/baseRecuperar.html' %}
{% block content %}
{% load static %}

<style>
*{
    color: aliceblue;
}

body{
        background: url('/static/images/recuperarC.jpg') no-repeat ;
        background-size: cover;
    }

.bg-custom{
    height: 430px;
    width: 21%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
 }

 .bg-custom .avatar {
    width: 190px;
    height: 190px;
    position: absolute;
    top: -50px;
    left: 15.5%;
}

.btn-size{
    
    width: 80%;
    margin-left: 8%;
    border-radius: 15px;
 }

.bg-custom input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.bg-custom select{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


</style>
<div class="container">
    <div class="bg-custom">
        <img class="avatar" src="{% static 'images/logo.png' %}">
        <div class="my-5">
        <h2>Restablecer la contraseña</h2>
        <p>Ingresa tu email, y le enviaremos instrucciones para ingresar una nueva contraseña</p>
        <form  method="post">
            {% csrf_token %}
            
            {{form}}
            <div class="my-3">
            <button type="submit" name="Send email" class="submit btn btn-danger btn-size ">Enviar</button>
        </div>
        </form>
    </div>
    </div>
</div>


{% endblock %}