{% extends 'registration/baseRecuperar.html' %}
{% block content %}
{% load static %}

<style>
    *{
        color: aliceblue;
    }
    
    m{
        margin-right: 200px;
    }
    body{
        background: url('/static/images/recuperarC.jpg') no-repeat ;
        background-size: cover;
    }
    .bg-custom{
    height: 230px;
    width: 55%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 47%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
 }
    </style>


<div class="container">
    <div class="text-justify bg-custom">
        <p>
            Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.<br> 
            Debería recibirlos en breve.<br>
            Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
        </p>
    </div>
</div>


{% endblock %}