{% extends 'baseEmp.html' %}
{% block title %} Empleado {% endblock %}
    {% block content %}
    {% load static %}

    


    <style>
        
    </style>


    <div class="info">
        <header>
            <h1>Bienvenido Empleado</h1>
        </header>

        <p>
            Aquí podrá observar la información de todos los productos
            propios del negocio y la cantidad disponible de cada uno.
            Usted puede consultar información específica y agregar
            nuevas cantidades de productos cuando se surta el negocio.
        </p>

        <img src="{% static 'images/producto.png' %}">
        
    </div>
        
{% endblock %}