{% load static %}
<form action="{% url 'AgregarProductoVentaE' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="product_id" value="{{ product.cod_product }}">

    {% if product.stock %}

    <td><input type="number" name="quantity" max="{{ product.quantity }}" min="1" value="1"></td>
    <td><input style="background: rgb(1, 71, 147);" type="submit" value="Agregar" class="btn btn-primary form-control" ></td>

    {% else %}

    <td><input type="number" name="quantity" max="{{ product.quantity }}" min="0" max="0" value="0" disabled></td>
    <td><input type="submit" value="Agregar" class="btn btn-secondary form-control" disabled></td>

    {% endif %}

</form>