{% extends 'baseEmp.html' %}
{% block title %} Consulta producto {% endblock %}
    {% block content %}
    {% load static %}




    <style>
        .lnr-apartment{
            font-size: 25px;
            color: white;
        }
        .lnr-cart{
            font-size: 25px;
            color: white;
        }
        .lnr-exit{
            font-size: 25px;
            color: white;
        }
        .lnr-chart-bars{
            font-size: 40px;
            color: white;
        }
    </style>



    <style>
    .tab_empleados{
        width: 120%;
    }

    .consult{
        margin-top:40px;
        margin-left:70.5%;
        padding:5px;
        width: 370px;
    }

    .consult input[type="text"]{
        width:250px;
    }

    .consult input[type="submit"]{
        margin-left:10px;
        width:100px;
    }

    .cabecera_tabla{
        background-color: rgb(5, 5, 92);
        color:white;
        font-weight: bold;
        padding:10px;
        text-align:center;
    }

    .contenedor_tabla{
        width:78%;
        margin-left: 265px;
    }

    s{
        margin-left: 450px;
    }
    </style>

    <div class="contenedor d-flex">
        
        <form action="#" class="consult" method="POST">
            <div class="form-row">
                <input type="text" class="form-control" name="consultar_producto">
                <input type="submit" class="form-control btn btn-primary" name="btn-consulta_producto" value="Consultar" >
            </div>

        </form>
        
    </div>
    <br>

    <div class="contenedor_tabla ">
    <div class="table-responsive">
    <table class=" tab_empleados table ml-0 mr-0 mb-0">

    <thead class="cabecera_tabla">
        <tr>

            <th> Código producto</th>
            <th> Nombre del producto </th>
            <th> Marca </th>
            <th> Precio del producto</th>
            <th> Contenido neto</th>
            <th> Imagen producto</th>
            <th> Unidades stock</th>
            <th> Estado</th>


        </tr>
    </thead>

    <tbody>
        {% for product in product_list %}
        <tr>
            <td>{{ product.cod_product }}</td>
            <td> {{ product.name }} </td>
            <td>{{ product.brand }}</td>
            <td>{{ product.price_product }}</td>
            <td>{{ product.net_content }}</td>
            <td><img style="width: 60px; height: 60px;" src="{{ product.product_image.url }}" alt="..."></td>
            <td>{{ product.stock }}</td>

            <td>
                {% if product.state == True %}
                    Activo
                {% elif product.state == False %}
                    Descontinuado
                {% endif %}

            </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div class="my-3" style="margin-left: 5%; ">
    {% include 'paginator.html' %}
</div>

</div>

    {% endblock %}