{% extends 'baseAdmin.html' %}
{% block title %} Registro pedido {% endblock %}
    {% block content %}
    {% load static %}



    

    

<style>
    .tab_pedido2{
        padding: 10px;
        border: none;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
        border:transparent;
        width: 80%;
        margin-left: 255px;
        font-size: 18px;
        border-radius: 8px;
        margin-top:50px;
    }

    td{
        padding:10px;
        border:solid black 2px;
    }

    .cabecera_tabla{
        background-color: rgb(13, 34, 128);
        color:white;
        border:white;
    }

    .info{
        font-weight: bold black;
        width: 100%;
        padding: 10px;
        width: 250px;
        margin-right: 88px;
    }

    .info h1{
        font-size: 20px;

    }

    .contenedor{
        margin-top: 40px;
        width:730px;
        margin-left:46%;
    }

    .consult input[type="text"]{
        width:250px;
    }

    .consult input[type="submit"]{
        margin-left:10px;
        width:100px;
    }
    </style>

<div class="contenedor d-flex">

    <div class="info">
        <h1>Gestión de pedidos</h1>
    </div>
        
    <form action="pedidos.html" class="consult" method="POST">
        <div class="form-row">
            <input type="text" class="form-control" name="consultar_producto">
            <input type="submit" class="form-control btn btn-primary" name="btn-consulta_producto" value="Consultar" >
        </div>

    </form>
    
</div>

<table align=center border=2 cellspacing=0 class=' table tab_pedido2'>
<tr class="cabecera_tabla">

<td> Código del pedido</td>
<td> Código del producto</td>
<td> Cantidad productos</td>
<td> Subtotal</td>

</tr>

<tr>
    <td>1</td>
    <td>31</td>
    <td>10</td>
    <td>4000</td>
</tr>

<tr>
    <td>1</td>
    <td>30</td>
    <td>2</td>
    <td>11140</td>
</tr>

<tr>
    <td colspan=3 align=center bgcolor=#E3DBDB>Valor total</td>
    <td>15140</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB>Código del cliente</td>
    <td>5</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB> Cedula del empleado</td>
    <td>420992508</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB>Fecha compra</td>
    <td>2022-01-10</td>
</tr>
</table>

<br>
<br>
<br>

<table align=center border=2 cellspacing=0 class=' table tab_pedido2'>
<tr class="cabecera_tabla">

<td> Código del pedido</td>
<td> Código del producto</td>
<td> Cantidad productos</td>
<td> Subtotal</td>

</tr>

<tr>
    <td>2</td>
    <td>16</td>
    <td>3</td>
    <td>6990</td>
</tr>

<tr>
    <td>2</td>
    <td>20</td>
    <td>4</td>
    <td>8000</td>
</tr>

<tr>
    <td colspan=3 align=center bgcolor=#E3DBDB>Valor total</td>
    <td>14990</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB>Código del cliente</td>
    <td>5</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB> Cedula del empleado</td>
    <td>420992508</td>
</tr>

<tr>
    <td colspan='3' align=center bgcolor=#E3DBDB>Fecha compra</td>
    <td>2022-01-10</td>
</tr>
</table>

    {% endblock %}