{% extends 'baseEmp.html' %}
{% block title %} Registro Venta {% endblock %}
    {% block content %}
    {% load static %}

<style> 

        .Venta{
            width: 1050px;
            color: rgb(18, 38, 107);
            position: relative;
            top: 20px;
            left: 270px;
            box-sizing: border-box;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .titulo{
            background-color: rgb(5, 5, 92);
            color: white;
        }

        .btn_registro{
            margin-left: 250px;
        }   
        
        .info{
        font-weight: bold black;
        width: 100%;
        padding: 10px;
        width: 250px;
        margin-right: 10px;
    }

    .info h1{
        font-size: 20px;

    }

    .contenedor{
        width:730px;
        margin-left:42%;
    }

</style>

<div class="contenedor d-flex justify-content-end mr-5 mt-4">

    <div class="info">
        <h1>Gestión de ventas</h1>
    </div>
    
        <div>
            <a class="btn btn-success mr-4" href="{% url 'EResgistroVen' %}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
            </svg>

                Registrar venta
            </a>
        </div>

        <div>
            <a class="btn btn-primary" href="{% url 'EConsultaVen' %}">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>

                Consultar venta    
            </a>
        </div>
</div>

    <div class="Venta">
        <form action="{% url 'CompletarVentaEm' %}" method="post">
            <div class="titulo text-lg-center p-2">
                <h1>Registrar nueva venta</h1>
            </div>

            <div class="form-row" style="margin-top: 15px;">
                <div class="form-group col-5">
                    <label style="margin-left: 200px; font-size: 20px; color: black;">Cliente</label>
                </div>
        
                <div class="form-group col-5">
                    <select name="client" class="form-control" style="margin: auto;">
                        {% for cli in client %}
                        <option value="{{ cli.cod_client }}">{{ cli.client_name }} - {{ cli.id_user.id_profile }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div style="height: 230px; margin-bottom: 30px;" class="table-responsive">
            <table class="table">
                <thead class="sticky-top">
                    <tr class="bg-dark text-white font-weight-bold">
                        <td>Nombre producto</td>
                        <td>U. disponibles</td>
                        <td>Precio</td>
                        <td>U. vendidas</td>
                        <td>Agregar</td>
                    </tr> 

                </thead>

                    <tbody>
                        {% for product in products %}
                        {% if product.state == True %}
                        <tr>
                            <td>{{ product.name }} {{ product.brand }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.price_product }}</td>
                            {% include 'addsales.html' %}
                        </tr> 
                        {% endif %}
                        {% endfor %} 
                    </tbody>

            </table>
            </div>

            {% include 'ListadoVenta.html' %}

            <input type="submit" class="btn_registro btn btn-outline-success w-50" name="insertar" value="Insertar datos">

        </form>
    </div>

    {% endblock %}
