{% extends 'registration/baseRecuperar.html' %}
{% block content %}
{% load static %}
<style>
    *{
        color: aliceblue;
    }
    
    m{
        margin-right: 200px;
    }
    body{
        background: url('/static/images/recuperarC.jpg') no-repeat ;
        background-size: cover;
    }

    .login{
    width: 350px;
    margin-top: 40px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 40px;
    padding-top: 120px;
    padding-bottom: 30px;
    box-shadow:  0px 0px 5px rgb(0, 0, 0);
}
    
    </style>
<div class="container">
    <div class="login m">
        <img class="avatar" src="{% static 'images/logo.png' %}">
        <h1>Ingrese su nueva contraseña</h1>
        <form  method="post">
            {% csrf_token %}
            
            {{form}}
            
            <button type="submit" name="Send email" class="submit btn btn-danger btn-block">Enviar</button>
        </form>
    </div>
    
</div>
{% endblock %}